/*common*/

.wrap{
  font-family: Times, serif;
  font-size: 14px;
}

a{
  color:#4796b9;
  text-decoration: none;
}

.sidebar a:hover,
.post a:hover{
  text-decoration: underline;
}

/*header*/

.header .date{
  font-size:18px;
  text-transform: uppercase;
}

.header h1{
  font-size: 72px;
}

.header h1 a{
  color: #000;
  text-decoration: none;
}

/*post*/

.post h2,
.post h2 a,
h3#comments{
  font-size: 24px;
  color: #000;
  text-decoration: none;
}

div#respond,
.commentlist li,
.post .content p{
  font-family: Helvetica, Arial, sans-serif;
  line-height: 19px;
  margin-bottom: 18px;
}

.post .content ul li{
  font-family: Helvetica, Arial, sans-serif;
  line-height: 18px;
}

#commentform label{
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
}

#commentform input,
#commentform textarea{
  margin-top: 10px;
}

.pagination{
  font-family: Helvetica, Arial, sans-serif;
}